<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Android 9 (API 28) 前台服务的权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Android 14 (API 34) 专门用于 mediaPlayback 类型服务权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_music"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_music_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.Music_tangjian">
        <activity
            android:name=".AudioPlayActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <service
            android:name=".service.MusicService"
            android:foregroundServiceType="mediaPlayback" />
    </application>

</manifest>